<div data-controller="gurunavi">
    <button data-action="click->gurunavi#search">現在位置からお店を検索</button>
    
    <div data-target="gurunavi.results"></div>
</div>

<%= javascript_pack_tag 'application.js' %>