<div data-controller="gurunavi">
    <div class="d-flex justify-content-center" >
        <button class="btn btn-success" data-action="click->gurunavi#search">現在位置からお店を検索</button>
    </div>
    <div class="row">
        <div class="col" data-target="gurunavi.results"></div>
    </div>
</div>

<%= javascript_pack_tag 'application.js' %>