<div class="jumbotron">
  <h1 class="display-4">タベルナへようこそ</h1>
  <p class="lead">現在の位置情報を取得し、ぐるなびAPIを使用して周辺のお店を調べるアプリです</p>
  <hr class="my-4">
  <p>Twitterへのシェアはこちらから</p>
  <a href="https://twitter.com/intent/tweet?button_hashtag=タベルナ&ref_src=twsrc%5Etfw" class="twitter-hashtag-button" data-show-count="false" data-text="現在位置から周辺のお店を検索してくれるサービス">Tweet #タベルナ</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
</div>